@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: nemesys;
  src : url(../fonts/nemesys.ttf)
}

@font-face{
  font-family: blender-pro-book;
  src: url(../fonts/BlenderPro-Book.ttf);
}

@font-face{
  font-family: blender-pro-medium;
  src: url(../fonts/BlenderPro-Medium.ttf);
}

@font-face{
  font-family: blender-pro-heavy;
  src: url(../fonts/BlenderPro-Heavy.ttf);
}

@font-face{
  font-family: blender-pro-thin;
  src: url(../fonts/BlenderPro-Thin.ttf);
}



*{
  margin: 5px;
}




:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  
}

/*

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}

*/

body {
  color: rgb(var(--foreground-rgb));
  
  /*background: rgb(20, 20, 26);*/
  @apply bg-cybpnk-blk2
    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



