@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: nemesys;
  src : url(../fonts/nemesys.ttf)
}

@font-face{
  font-family: blender-pro-book;
  src: url(../fonts/BlenderPro-Book.ttf);
}

@font-face{
  font-family: blender-pro-medium;
  src: url(../fonts/BlenderPro-Medium.ttf);
}

@font-face{
  font-family: blender-pro-heavy;
  src: url(../fonts/BlenderPro-Heavy.ttf);
}

@font-face{
  font-family: blender-pro-thin;
  src: url(../fonts/BlenderPro-Thin.ttf);
}



*{
  margin: 5px;
  @apply font-Blender-Pro-Book
}




:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

}

*/

/*

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}

*/

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-cybpnk-blk2
    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  
  .navbar ul li {
    @apply inline-block mt-[10px] mr-[20px]  cursor-pointer text-xl
  }


  .border-corners-lg {
    --s: 50px; /* the size on the corner */
    --t: 4px;  /* the thickness of the border */
    --g: 10px; /* the gap between the border and image */

    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid white; /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
      0 0/calc(100% - var(--s)) calc(100% - var(--s)),
      linear-gradient(#000 0 0) content-box;
  }

  .border-corners-sm {
    --s: 10px; /* the size on the corner */
    --t: 2px;  /* the thickness of the border */
    --g: 3px; /* the gap between the border and image */

    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid white; /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
      0 0/calc(100% - var(--s)) calc(100% - var(--s)),
      linear-gradient(#000 0 0) content-box;
  }

  .passTest {
    width: var(--t);
  }


  .custom-diagonal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #fbbf24 25%, transparent 25%, transparent 50%, #fbbf24 50%, #fbbf24 75%, transparent 75%, transparent);
    background-size: 56.57px 56.57px;
    z-index: -1;
  }
}



